body{
     width: 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    
    background-image:url(photo-1614851099511-773084f6911d.jpg);
    background-size: cover;
   
}
main{
    display: flex;
    justify-content: center;
    align-items:end;
    margin-bottom: 50px;
    margin-right: 500px;
    margin-top: 100px;
}
 h1{
        color: rgb(254, 7, 7);
        font-size: 50px;
        text-decoration: wavy underline rgb(248, 242, 242);
    }
#containter{
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap: wrap;
    background-color: antiquewhite;
    border: rgb(8, 0, 0) 2px double;
    width: 300px;
    height: 300px;
    margin-left: 5px;
    gap: 10px;
.box{
        background-color: rgb(181, 213, 249);
        width:90px;
        height:90px;
        border: black 1px solid;
        border-radius: 10px;
        box-shadow:0 0 5px rgba(0,0,0,0.8 alpha);
        font-size: 60px;
        color: rgb(254, 7, 7);
        text-align: center;
}
}
button{
    width:80px;
    height: 50px;
    border-radius: 9999px;
    color: rgb(10, 10, 10);
    background-color: aqua;
    margin-top: 30px;
    font-size: larger;
    font-weight: bolder;
}


